// Layout

.item-list.contact-list {
  .list-item {
    & > .visual {
      flex-direction: unset;
    }
  }
}

.contact-ball {
  .ball();
  .ball-size-xl();
  .ball-solid(@gray-semilight);
  font-weight: bold;
  line-height: 1.75;
  text-transform: uppercase;
}
