// Layout

.item-list {
  .visual {
    .icon { // TODO: should this be default in ipl-web?
      font-size: 1.5em;

      &:before {
        margin-right: 0;
      }
    }
  }
}

.item-list.minimal {
  > .empty-state {
    padding: .25em;
  }

  .list-item {
    align-items: center;

    header {
      max-width: 100%;
    }

    .visual {
      width: 2.2em;
    }

    .caption {
      flex: 1 1 auto;
      height: 1.5em;
      margin-right: 1em;
      width: 0;

      .text-ellipsis();
      .line-clamp("reset");
    }
  }
}
