// Header
.schedules-header {
  margin-left: 12em;
  width: ~"calc(100% - 12em)";

  padding-right: 2em; // align the header with the list items
  padding-left: 0.5em;

  .days-header {
    display: grid;
    grid-template-columns: repeat(7, minmax(2em, 1fr));
    border-left: 2px solid @gray-lighter;

    .column-title {
      border-right: 1px solid @gray-lighter;
    }
  }
}

// Layout
.item-list .schedule {
  .main {
    display: flex;
    align-items: center;
    header .title {
      width: 10em;
      display: inline-flex;
    }

    .caption {
      display: flex;
      margin-left: 0.5em;
      width: 100%;
      height: 2em;
      align-items: center;

      > .timeline {
        flex-grow: 1;
      }
    }
  }

  .timeline .time-grid {
    grid-template-columns: minmax(0, 1fr);
    grid-template-rows: minmax(0, 1fr);

    .grid {
      border-width: 0 0 0 2px;
    }

    .grid,
    .overlay {
      grid-area: ~"1 / 1 / 2 / 2";

      .entry {
        margin: 0;

        .title {
          align-items: center;
        }
      }
    }
  }
}

// Design
.item-list .schedule .timeline {
  .time-grid {
    .grid {
      .step {
        border-bottom: unset;
      }
    }
  }

  .time-grid:after {
    display: none;
  }
}
