parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$assoc of function json_decode expects bool\\|null, int given\\.$#"
			count: 1
			path: application/forms/ChannelForm.php

		-
			message: "#^Parameter \\#2 \\.\\.\\.\\$args of function array_merge expects array, mixed given\\.$#"
			count: 1
			path: application/forms/ChannelForm.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 2
			path: application/forms/EntryForm.php

		-
			message: "#^Parameter \\#2 \\$str of function explode expects string, mixed given\\.$#"
			count: 2
			path: application/forms/EscalationRecipientForm.php

		-
			message: "#^Parameter \\#1 \\$time of function strtotime expects string, mixed given\\.$#"
			count: 1
			path: library/Notifications/Widget/Calendar.php
