parameters:
	ignoreErrors:
		-
			message: "#^Parameter \\#2 \\$string of function explode expects string, mixed given\\.$#"
			count: 2
			path: application/forms/EscalationRecipientForm.php

		-
			message: "#^Parameter \\#1 \\$datetime of function strtotime expects string, mixed given\\.$#"
			count: 1
			path: library/Notifications/Widget/Calendar.php
