parameters:
	ignoreErrors:
		-
			message: '#^Cannot call method getName\(\) on ipl\\Html\\Contract\\FormSubmitElement\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: application/controllers/ChannelController.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 2
			path: application/controllers/ChannelController.php

		-
			message: '#^Parameter \#2 \.\.\.\$values of function sprintf expects bool\|float\|int\|string\|null, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: application/controllers/ChannelsController.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Controllers\\ConfigController\:\:databaseAction\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: application/controllers/ConfigController.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Controllers\\ContactsController\:\:indexAction\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: application/controllers/ContactsController.php

		-
			message: '#^Parameter \#2 \$default of method Icinga\\Web\\UrlParams\:\:shift\(\) expects string\|null, int\<1, max\> given\.$#'
			identifier: argument.type
			count: 1
			path: application/controllers/EventsController.php

		-
			message: '#^Parameter \#2 \$value of method Icinga\\Web\\Url\:\:setParam\(\) expects array\|bool\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: application/controllers/EventsController.php

		-
			message: '#^Parameter \#2 \$value of static method ipl\\Stdlib\\Filter\:\:lessThanOrEqual\(\) expects float\|int\|string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: application/controllers/EventsController.php

		-
			message: '#^Cannot call method getUsername\(\) on Icinga\\User\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: application/controllers/IncidentController.php

		-
			message: '#^Parameter \#2 \$currentUserId of class Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentQuickActions constructor expects int, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: application/controllers/IncidentController.php

		-
			message: '#^Cannot cast mixed to int\.$#'
			identifier: cast.int
			count: 4
			path: application/controllers/ScheduleController.php

		-
			message: '#^Cannot call method getName\(\) on ipl\\Html\\Contract\\FormSubmitElement\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: application/forms/ChannelForm.php

		-
			message: '#^Cannot call method prepend\(\) on ipl\\Html\\Contract\\Wrappable\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: application/forms/ChannelForm.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Forms\\DatabaseConfigForm\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: application/forms/DatabaseConfigForm.php

		-
			message: '#^Argument of an invalid type array\|null supplied for foreach, only iterables are supported\.$#'
			identifier: foreach.nonIterable
			count: 1
			path: library/Notifications/Common/Database.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Channel\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Channel.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Channel\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Channel.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Channel\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Channel.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Contact\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Contact.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Contact\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Contact.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Contact\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Contact.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Event\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Event.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Event\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Event.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Incident\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Incident.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Incident\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Incident.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Incident\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Incident.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\IncidentContact\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/IncidentContact.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\IncidentHistory\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/IncidentHistory.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\IncidentHistory\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/IncidentHistory.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Rule\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Rule.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Rule\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Rule.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Rule\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Rule.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\RuleEscalation\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/RuleEscalation.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\RuleEscalation\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/RuleEscalation.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\RuleEscalation\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/RuleEscalation.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\RuleEscalationRecipient\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/RuleEscalationRecipient.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\RuleEscalationRecipient\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/RuleEscalationRecipient.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Source\:\:getColumnDefinitions\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Source.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\Source\:\:getSearchColumns\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/Source.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Model\\TimeperiodEntry\:\:getDefaultSort\(\) return type has no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Model/TimeperiodEntry.php

		-
			message: '#^Cannot access property \$tag on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: library/Notifications/Web/Control/SearchBar/ExtraTagSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ExtraTagSuggestions\:\:fetchColumnSuggestions\(\) return type has no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ExtraTagSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ExtraTagSuggestions\:\:fetchValueSuggestions\(\) return type has no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ExtraTagSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:collectFilterColumns\(\) return type has no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:collectRelations\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:collectRelations\(\) has parameter \$models with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:collectRelations\(\) has parameter \$path with no value type specified in iterable type array\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:fetchColumnSuggestions\(\) return type has no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:fetchValueSuggestions\(\) return type has no value type specified in iterable type Traversable\.$#'
			identifier: missingType.iterableValue
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Web\\Control\\SearchBar\\ObjectSuggestions\:\:\$model \(ipl\\Orm\\Model\) does not accept object\.$#'
			identifier: assign.propertyType
			count: 1
			path: library/Notifications/Web/Control/SearchBar/ObjectSuggestions.php

		-
			message: '#^Cannot access property \$address on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: library/Notifications/Web/Form/ContactForm.php

		-
			message: '#^Cannot access property \$id on mixed\.$#'
			identifier: property.nonObject
			count: 1
			path: library/Notifications/Web/Form/ContactForm.php

		-
			message: '#^Cannot access property \$type on mixed\.$#'
			identifier: property.nonObject
			count: 2
			path: library/Notifications/Web/Form/ContactForm.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Form\\ContactForm\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Web/Form/ContactForm.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Form\\EventRuleDecorator\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Web/Form/EventRuleDecorator.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Web\\Form\\EventRuleDecorator\:\:decorate\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Web/Form/EventRuleDecorator.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Web\\Form\\EventRuleDecorator\:\:\$element has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: library/Notifications/Web/Form/EventRuleDecorator.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Calendar.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\:\:getModeStart\(\) should return DateTime but returns DateTime\|false\.$#'
			identifier: return.type
			count: 2
			path: library/Notifications/Widget/Calendar.php

		-
			message: '#^Parameter \#1 \$content of static method ipl\\Html\\Text\:\:create\(\) expects string, string\|false given\.$#'
			identifier: argument.type
			count: 1
			path: library/Notifications/Widget/Calendar.php

		-
			message: '#^Parameter \#1 \$datetime of function strtotime expects string, mixed given\.$#'
			identifier: argument.type
			count: 1
			path: library/Notifications/Widget/Calendar.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\Calendar\:\:\$addEntryUrl \(ipl\\Web\\Url\) does not accept ipl\\Web\\Url\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: library/Notifications/Widget/Calendar.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\Attendee\:\:setIcon\(\) has parameter \$icon with no type specified\.$#'
			identifier: missingType.parameter
			count: 1
			path: library/Notifications/Widget/Calendar/Attendee.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\Controls\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Calendar/Controls.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\Controls\:\:getViewMode\(\) should return string but returns mixed\.$#'
			identifier: return.type
			count: 1
			path: library/Notifications/Widget/Calendar/Controls.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\DayGrid\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Calendar/DayGrid.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\MonthGrid\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Calendar/MonthGrid.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Calendar\\WeekGrid\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Calendar/WeekGrid.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\EventDetail\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/EventDetail.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentDetail\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentDetail.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentDetail\:\:createContacts\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentDetail.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentDetail\:\:createHistory\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentDetail.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentDetail\:\:createRelatedObject\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentDetail.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentDetail\:\:createSource\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentDetail.php

		-
			message: '#^Cannot call method getName\(\) on ipl\\Html\\Contract\\FormSubmitElement\|null\.$#'
			identifier: method.nonObject
			count: 1
			path: library/Notifications/Widget/Detail/IncidentQuickActions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentQuickActions\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentQuickActions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentQuickActions\:\:fetchIncidentContact\(\) should return Icinga\\Module\\Notifications\\Model\\IncidentContact but returns ipl\\Orm\\Model\.$#'
			identifier: return.type
			count: 1
			path: library/Notifications/Widget/Detail/IncidentQuickActions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentQuickActions\:\:onSuccess\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/Detail/IncidentQuickActions.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\Detail\\IncidentQuickActions\:\:\$incidentContact \(Icinga\\Module\\Notifications\\Model\\IncidentContact\) does not accept ipl\\Orm\\Model\.$#'
			identifier: assign.propertyType
			count: 1
			path: library/Notifications/Widget/Detail/IncidentQuickActions.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\EventSourceBadge\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/EventSourceBadge.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\ItemList\\PageSeparatorItem\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/ItemList/PageSeparatorItem.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\RuleEscalationRecipientBadge\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/RuleEscalationRecipientBadge.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\RuleEscalationRecipientBadge\:\:createBadge\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/RuleEscalationRecipientBadge.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\RuleEscalationRecipientBadge\:\:\$moreCount \(int\) does not accept int\|null\.$#'
			identifier: assign.propertyType
			count: 1
			path: library/Notifications/Widget/RuleEscalationRecipientBadge.php

		-
			message: '#^Method Icinga\\Module\\Notifications\\Widget\\ShowMore\:\:assemble\(\) has no return type specified\.$#'
			identifier: missingType.return
			count: 1
			path: library/Notifications/Widget/ShowMore.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\ShowMore\:\:\$label has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: library/Notifications/Widget/ShowMore.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\ShowMore\:\:\$resultSet has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: library/Notifications/Widget/ShowMore.php

		-
			message: '#^Property Icinga\\Module\\Notifications\\Widget\\ShowMore\:\:\$url has no type specified\.$#'
			identifier: missingType.property
			count: 1
			path: library/Notifications/Widget/ShowMore.php
