// SPDX-FileCopyrightText: 2023 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.controls {
  &.contactgroup-detail,
  &.event-detail,
  &.incident-detail {
    .box-shadow(0, 0, 0, 1px, @gray-lighter);
    flex-shrink: 0;
    z-index: 1; // The content may clip, this ensures the separator is always visible
    height: 8em; //TODO(sd): add dynamic fix
  }

  &.event-rule-detail {
    display: block;
    .box-shadow(0, 0, 0, 1px, @gray-lighter);
  }
}

.source-icon {
  .ball-solid(@gray-light);

  color: @text-color;
  margin-right: 0.2em;

  i.icon {
    vertical-align: text-top;
  }

  i.icon:before {
    margin: unset;
  }
}

.icon-ball {
  .ball();
  .ball-size-l();
  .ball-solid(@gray-light);

  color: @text-color;
  padding: 0;
  display: inline-flex;
  align-items: center;
  justify-content: center;

  i.icon::before {
    font-size: 0.6em;
  }

  i.icon.fa-paper-plane::before {
    margin-right: .2em;
  }
}

.contact-ball {
  .ball();
  .ball-size-l();
  .ball-solid(@gray-semilight);
  font-weight: bold;
  line-height: 1.2;
  text-transform: uppercase;
}

.severity-crit {
  color: @state-critical;
}

.severity-ok {
  color: @state-ok;
}

.severity-err {
  color: @state-unknown;
}

.severity-warning {
  color: @state-warning;
}

.object-tags-table {
  color: @text-color-light;
}

.add-new-component {
  margin: 0 0 1em 1em;
}

.item-layout.rule footer {
  justify-content: end;
  align-items: baseline;

  > :not(:last-child) {
    margin-right: 0.5em;
  }
}
