& > .content.full-width {
  padding-left: 0;
  padding-right: 0;

  .list-item {
    padding-left: 1em;
    padding-right: 1em;
  }
}

.icon.source-icon {
  background-color: @gray-light;
  margin-right: 0.2em;
  .ball();
  .ball-size-l();

  line-height: unset;

  &:before {
    margin: unset;
  }
}

.severity-crit {
  color: @state-critical;
}

.severity-ok {
  color: @state-ok;
}

.severity-err {
  color: @state-unknown;
}

.severity-warning {
  color: @state-warning;
}

.object-tags-table {
  color: @text-color-light;
}
