// SPDX-FileCopyrightText: 2023 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.event-source-badge {
  position: relative;

  .source-icon {
    position: absolute;
  }

  .name {
    position: relative;
    display: inline-block;
    height: 2em;
    border-bottom-right-radius: 1em;
    border-top-right-radius: 1em;
    z-index: -99;
    padding: @ball-pad .5em @ball-pad 1.5em;
    margin-left: 1em;

    background-color: @gray;
    color: @text-color-inverted;
  }
}
