.event-source-badge {
  display: inline-flex;
  background: @gray;
  border-radius: 1em;
  padding-right: .5em;
  line-height: 2em;
  color: @text-color-inverted;

  .source-icon {
    padding: 0
  }
}
