.controls {
  &.event-detail,
  &.incident-detail {
    .box-shadow(0, 0, 0, 1px, @gray-lighter);
    flex-shrink: 0;
    z-index: 1; // The content may clip, this ensures the separator is always visible
    height: 8em; //TODO(sd): add dynamic fix for noma
  }
}

.incident-detail {
  .event-source-badge:not(:last-child) {
    margin-right: 1em;
  }

  .incident-contact-list,
  .incident-object-label-list {
    .list-item {
      &:not(:first-child) > .main {
        border-top: 0;
      }

      .visual {
        width: auto;

        i.icon {
          font-size: 1em;
        }
      }
    }
  }
}