.event-rule-detail {
  &.invalid {
    .escalations .escalation form.escalation-form {
      select,
      input {
        &:invalid {
          background-color: red;
        }
      }
    }
  }

  .event-rule-form {
    width: 100%;
    max-width: unset;
    border-bottom: 1px solid @gray-lighter;

    .control-group {
      display: inline-flex;
      margin-right: 2em;

      :last-child {
        float: right;
      }

      .control-label-group {
        width: auto;
      }

      input[type='text'] {
        max-width: unset;
        width: 25em;
      }
    }
  }

  .event-rule-form .control-group.form-controls {
    float: right;
  }

  .search-controls {
    margin-top: 1em;
    display: inline-flex;
    width: 20em;
    min-width: unset;
    padding: 0.5em;
    border: 1px solid @gray-lighter;
    border-radius: 0.5em;

    input.filter-input {
      width: 20em;
      background-color: @base-gray;
      color: @text-color-inverted;
    }
  }

  .add-escalation-form {
    max-width: unset;
    width: auto;
    display: inline-flex;
  }

  .escalations {
    display: inline-flex;
    flex-direction: column;
    margin-top: 3em;
    width: 85em;
    padding: 2em;

    border: 1px solid @gray-lighter;
    border-radius: 1.5em;

    > .escalation {
      display: flex;
      align-items: center;

      .escalation-condition-form,
      .escalation-recipient-form {
        display: flex;
        flex-wrap: wrap;

        padding: 0.5em;
        border: 1px solid @gray-lighter;
        border-radius: 0.5em;

        .condition {
          .errors {
            width: auto;
            margin: 0;
          }
        }

        .condition:not(:last-child) {
          margin-bottom: .4em;

          select, input {
            min-width: 12.5em;
            text-align: center;
            height: 2.25em;
            line-height: normal;
            background-color: @base-gray;
            color: @text-color-inverted;
          }

          .left-operand {
            border-radius: 0.4em 0 0 0.4em;
          }

          .right-operand {
            border-radius: 0 0.4em 0.4em 0;
            margin-left: 0.1em;
          }

          .operator-input {
            min-width: unset;
            width: 3em;
            border-radius: unset;
            margin: 0 .1em;
            background-color: @base-gray;
            color: @text-color-inverted;
          }
        }

        button[type="submit"] {
          height: 2.25em;
        }
      }
    }
  }

  .escalations .escalation:not(:last-child) {
    margin-bottom: 5em;
  }
}
