// SPDX-FileCopyrightText: 2023 Icinga GmbH <https://icinga.com>
// SPDX-License-Identifier: GPL-3.0-or-later

.incident-detail {
  ul.source-list {
    display: flex;

    list-style-type: none;
    margin: 0;
    padding: 0;

    > li:not(:last-of-type) {
      margin-right: 1em;
    }
  }

  ul.incident-contact-list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5em;
  }

  .list-item.incident-contact {
    align-items: center;

    > .main {
      flex: none;
      width: auto;
      border-top: 0;
      padding: 0;

      header,
      .title {
        display: inline;
        margin: 0;
      }
    }

    .visual {
      padding: 0;
      margin-right: 0.4em;

      i.icon {
        font-size: 1em;
      }
    }

    &:not(:last-child)::after {
      content: ",";
    }
  }

  .list-item.incident-history.notification-state {
    &.suppressed {
      opacity: .75;
    }

    &.failed .state-text {
      color: @color-critical;
    }
  }

  .message {
    padding: 0.5em;
    word-break: break-word;
    white-space: pre-wrap;

    &:not(.empty) {
      background-color: @gray-lighter;
      .rounded-corners();
      .monospace-font();
    }
  }
}
