[Unit]
Description=Icinga Desktop Notifications Daemon

[Service]
Type=simple
ExecStart=/usr/bin/icingacli notifications daemon run
Restart=on-success

[Install]
WantedBy=multi-user.target
